
<footer>
  <hr />
  <div class="container mt-3">
    <div id="footText">
    CST336 Internet Programming. 2021&copy; Jobes, Bray, Gonzales, Ortega<br />
    <strong>Disclaimer:</strong> The information and services in this webstore is fictitious and for academic purposes only.<br />
    </div>
  </div>
  <figure>
    <img src="img/csumb_logo.jpg" alt="CSU Monterey Bay Logo" />
  </figure>
</footer>

</body>
</html>